<h1>Welcome to CSE Motors!</h1>

<section class="delorean">
    <picture>
        <source media="(max-width: 400px)" srcset="/images/vehicles/delorean-tn.jpg">
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" width="500px" height="255px" class="delorean-image">
    </picture>
    <div class="delorean-desc">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders<br>Superman Doors<br>Fuzzy dice!</p>
        <a href="#" class="button">Own Today</a>
    </div>
</section>
<div class="rev-up-grid">
    <section class="reviews">
        <h1>DMC Dalorean Reviews</h1>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
    <section class="upgrades">
        <h1>Delorean Upgrades</h1>
        <div class="upgrades-grid">
            <div>
                <div class="upgrade-wrapper">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <p><a href="#">Flux Capacitor</a></p>
            </div>
            <div>
                <div class="upgrade-wrapper">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <p><a href="#">Flame Decals</a></p>
            </div>
            <div>
                <div class="upgrade-wrapper">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                </div>
                <p><a href="#">Bumper Stickers</a></p>
            </div>
            <div>
                <div class="upgrade-wrapper">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                </div>
                <p><a href="#">Hub Caps</a></p>
            </div>
        </div> 
    </section>
</div>