@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jura:wght@700&family=Open+Sans&family=Roboto&display=swap);
/* Color Palette:  https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}

/********** Start Base CSS **********/
body {
  font-family: 'Open Sans', Arial, 'Times New Roman';
}

header {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  font-family: Jura, 'Josefin Sans', 'Open Sans', Arial;
  font-size: 2.5rem;
}
#login {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #2f3e46;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #2f3e46;
  font-family: Jura, 'Josefin Sans', 'Open Sans', Arial;
  font-size: 1rem;
}
nav a {
  color: white;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
  margin: 10px 0;
  width: 85%;
  list-style: none;
}

/********** Main **********/
main {
  /* max-width: 95%; */
  margin: 0;
  text-align: center;
}

.notice {
  color: red;
  text-align: left;
  list-style: none;
  /* list-style: upper-roman; */
}

h1 {
  margin: 20px 0;
  text-align: left;
  font-family: Jura, 'Josefin Sans', 'Open Sans', Arial;
  font-size: 1.75rem;
}
h2 {
  margin: 20px 0;
  text-align: left;
  font-family: Jura, 'Josefin Sans', 'Open Sans', Arial;
  font-size: 1.3rem;
}
.delorean {
  position: relative;
}
.delorean img {
  width: 80%;
  max-width: 400px;
  height: auto;
  justify-self: center;
}
.delorean-desc {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  background-color: rgb(255, 255, 255, .75);
  color: #52796F;
  border-radius: 2px;
  text-align: left;
}
.delorean-desc p {
  line-height: 1.25rem;
  margin: 5px;
}
h3 {
  font-family: Jura, 'Josefin Sans', 'Open Sans', Arial;
  line-height: 1rem;
  font-size: 1.25rem;
  margin: 10px 10px 12.5px 0;
  text-align: left;
}
.button {
  display: inline-block;
  padding: 10px 10px;
  background-color: #52796F;
  color: white;
  opacity: 1;
  border-radius: 2px;
  box-shadow: 1px 1px 2.5px #2f3e46;
} 

.reviews {
  text-align: left;
}
.reviews h1, .upgrades h1 {
  margin-bottom: 10px;
}
.reviews ul {
  margin: 0;
  padding: 0 0 0 20px;
  line-height: 2rem;
}

.upgrades-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
.upgrades-grid p {
  margin: 0;
}
.upgrades div {
  text-align: center;
  justify-items: center;
}
.upgrade-wrapper {
  background-color: #52796F;
  padding: 5px;
  margin: 0;
  border: solid 2px #2f3e46;
  height: 75px;
  width: 170px;
}
.upgrade-wrapper img {
  max-width: 50px;
  height: auto;
  margin: 0 auto;
}

#inv-display {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: fit-content;
}
#inv-display h2 {
  text-align: center;
}

/********** Vehicle Details Views **********/
.vehicle-listing {
  display: grid;
  gap: 10px;
  text-align: left;
}
.vehicle-price {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #CAD2C5;
}
.vehicle-image {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 90%;
  max-width: 400px;
  height: auto;
  justify-self: center;
}
.vehicle-details {
  grid-column: 1/2;
  grid-row: 2/3;
}
.vehicle-details p {
  margin: 0 0 5px 0;
  padding-left: 2.5px;
  padding-right: 2.5px;
}


/********** Login View **********/
.login_form {
  margin: 0 auto;
  background-color: #CAD2C5;
  padding: 20px 0;
  width: 300px;
  border: 2px solid #2f3e46;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #2f3e46;
}
#log_form, #reg_form, #class_form, #inv_form {
  margin: 0 25px;
  text-align: left;
}
.login_form input[type=text], .login_form input[type=password], .login_form input[type=email], .login_form input[type=image], .login_form input[type=number], .login_form select {
  width: 100%;
  border-radius: 1px;
  padding: 2px 5px;
  margin-bottom: 7.5px;
  font-family: 'Open Sans', Arial, 'Times New Roman';
}
.login_form input[type=submit] {
  margin: 12.5px 0 0 0;
  padding: 3px 25px;
  text-align: center;
  background-color: #2f3e46;
  border-radius: 15px;
  color: white;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 25.6px;
  border-radius: 1px;
  padding: 2px;
  margin-bottom: 7.5px;
  border: 2px solid #2f3e46;
  border-radius: 8px;
}
textarea#inv_description, textarea#review_text {
  width: 100%; 
  max-width: 500px;
  height: 100px; 
  padding: 5px; 
  resize: vertical; 
  box-sizing: border-box;
  border-radius: 1px;
  border: 2px solid #2f3e46;
  font-family: 'Open Sans', Arial, 'Times New Roman';
}


/********** Register View **********/
#pass_req {
  font-size: .7rem;
  color: red;
  text-align: left;
}
#pass_req p {
  margin-bottom: 0;
  margin-top: 0;
  text-decoration: underline;
}
#pass_req ul {
  margin-top: 2px;
  padding: 0 0 0 20px;
}
#pass_req ul li {
  list-style: none;
}
#password {
  border: 1.5px solid #2f3e46;
  border-radius: 15px;
  padding: 3px;
  font-size: .6rem;
  width: 7em;
  text-align: left;
  cursor: default;
  color: black;
}
.password-container {
  position: relative;
  display: flex;
  width: 100%;
}
#account_password {
  width: 100%;
  margin: 0 0 7.5px;
  padding: 2px 40px 2px 2px;
  outline: none;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-75%);
  width: 15px;
  height: 15px;
  cursor: default;
  opacity: 0.7;
}
.toggle-password:hover {
  opacity: 1;
}
input:required:invalid, input:focus:invalid, textarea#inv_description:invalid, #classificationList:invalid {
  /* background: rgba(255, 0, 0, 0.2); */
  box-shadow: 1px 1px 5px rgba(255, 0, 0, 0.6);
}
input:required:valid, input:focus:valid, textarea#inv_description:valid, #classificationList:valid {
  /* background: rgb(0, 128, 0, 0.2); */
  /* box-shadow: 1px 1px 5px rgba(0, 128, 0, 0.6); */
  box-shadow: 2px 2px 5px #2f3e46;
}

#delete-warning {
  margin-top: 8px;
  color: red;
  text-decoration: underline;
  font-size: .8rem;
}

/********** Management View & New Class/Inv **********/
.manage_inv { 
  margin: 0 auto;
  margin-bottom: 100px;
  list-style: none;
  width: 400px;
  text-align: center;
}
.manage_inv li {
  margin: 25px;
  background: #CAD2C5;
  padding: 20px 0;
  border: 2px solid #2f3e46;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #2f3e46;
}

#class-select {
  text-align: left;
}
table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
table tr {
  border: 1px solid #2f3e46;
}
thead tr {
  background-color: #2f3e46;
  color: white;
}
th  {
  background-color: #2f3e46;
  color: white;
  border: 1px solid #2f3e46;
  padding: 8px;
}
tbody td {
  background-color: #CAD2C5;
  color: #2f3e46;
  border: 1px solid #2f3e46;
  padding: 8px;
}
tbody td a:hover {
  text-decoration: underline;
}
table, tr {
  border: 1px solid #2f3e46;
}

#update-account {
  text-align: left;
}
.welcome {
  padding: 0 0 10px 0;
  text-align: left;
}

/********** Review View **********/
.review-list {
  margin-bottom: 10px;
}
.review-list p {
  margin: 0px;
  text-align: left;
}
.review-list img {
  float: left;
  margin-right: 10px;
}
.vehicle-reviews {
  text-align: left;
}



/********** Footer **********/
footer {
  font-size: 1rem;
  margin-top: 20px;
}




/********** For Larger/Desktop Screen **********/
@media screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }
  body {
    background-image: url("/images/site/small_check_edit.jpg");
  }
  /* main {
    max-width: 700px;
  } */
  header {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    font-family: Jura, 'Josefin Sans', 'Open Sans', Arial;
    font-size: 2.5rem;
  }
  nav {
    font-size: .8rem;
  }
  #wrapper {
    margin: 10px;
    width: 800px;
    background-color: white;
    justify-self: center;
    padding: 10px;
    border: solid 5px #52796F;
    border-radius: 10px;
  }

  .delorean img {
    width: 80%;
    max-width: 600px;
  }
  .delorean-desc {
    padding: 20px;
    top: 10%;
    left: 7.5%;
  }
  .delorean-desc p {
    padding-bottom: 10px;
  }

  .rev-up-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
  }
  .upgrades {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .reviews {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .upgrade-wrapper {
    height: 90px;
    width: 225px;
  }
  .upgrade-wrapper img {
    max-width: 100px;
  }
  /* .vehicle-image {
    max-width: 325px;
  } */
  .vehicle-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .vehicle-details {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .login_form {
    width: 400px;
  }

  footer {
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: -15px;
  }

}