<% if (title) { %>
<!-- <h1><%= title %></h1> -->
<% } else {
    res.redirect('/')
} %>

<% if (messages && messages.length > 0) { %>
    <ul class="notice">
        <% messages.forEach(message => { %>
            <li><%= message %></li>
        <% }) %>
    </ul>
<% } %>


<%- detail %>