<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- message %>
<p>You gotta go back!</p>
<img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2RlMHlqOWIxN2l6eGRkY3piNnd4ZXAzbmRsNzl1cmNjdWIxM3IxdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cJMlR1SsCSkUjVY3iK/giphy.gif" alt="Lion King Turn Around">